

@using Abp.Web.Mvc.Extensions

<button id="addAssignmentTypeBtn" class="btn btn-xs btn-primary">Add Assignment Type</button>

@Html.Partial("Tables/_ClassAssignmentTypeTable")


@Html.Partial("Modals/_AssignmentTypeModal")