@using Abp.Web.Mvc.Extensions

<button id="enrollStudentBtn" class="btn btn-xs btn-primary">Add Student</button>

@Html.Partial("Tables/_StudentEnrollmentTable")


@Html.Partial("Modals/_EnrollStudentModal")