
@using Abp.Web.Mvc.Extensions

<button id="addGradeBtn" class="btn btn-xs btn-primary">Insert Grade</button>

@Html.Partial("Tables/_ManageGradeBookTable")


@Html.Partial("Modals/_ManageGradeBookModal")
@Html.Partial("Modals/_StudentGradeBookModal")
@Html.Partial("Modals/_StudentAssignmentGradesModal")