

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Course Announcements</h3>
    </div>
    <div class="panel-body">
        Latest Accouncements
    </div>
</div>


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Upcoming Assignments</h3>
    </div>
    <div class="panel-body">
        Upcoming Assignments
    </div>
</div>