
@using Abp.Web.Mvc.Extensions

<button id="addAssignmentBtn" class="btn btn-primary">Add Assignment</button>

@Html.Partial("Tables/_ClassAssignmentTable")


@Html.Partial("Modals/_ClassAssignmentModal")