@model HomeRoom.Gradebook.GradeBookDto.StudentGradeBookDto


@if (Model.Assignments.Any())
{
    <h4>Current Grade: @Model.OverallGrade</h4>
    <table class="table table-striped" id="parentStudentsGradeBook">
        <thead>
        <tr>
            <th>Assignment</th>
            <th>Grade</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var grade in Model.Assignments)
        {
            <tr>
                <td>@grade.AssignmentName</td>
                <td>@grade.AssignmentGrade</td>
            </tr>
        }

        </tbody>
        <tfoot></tfoot>
    </table>
}

else
{
    <h3>No Grades</h3>
}

