@using System.Web.Optimization
@using Abp.Web.Mvc.Extensions


@{
    ViewBag.Title = "Users";
    ViewBag.ActiveMenu = "Users";
}

@section scripts
{
    @Html.IncludeScript("~/Views/Users/Users.js")
}

<h2>Users</h2>

        <button type="button" id="createBtn" class="btn btn-xs btn-primary">
            Create User
        </button>

        @Html.Partial("Tables/_UsersTable")

@Html.Partial("Modals/_UsersModal")