
<table class="table table-striped" id="categoriesTable" data-datatableurl="@Url.Action("GetDataTable","Category")">
    <thead>
        <tr>
            <th>Name</th>
            <th>Subject</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot></tfoot>
</table>


