
<table class="table table-striped" id="classesTable" data-datatableurl="@Url.Action("GetDataTable","Class")">
    <thead>
        <tr>
            <th>Class Name</th>
            <th>Subject</th>
            <th># Enrolled Students</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot></tfoot>
</table>
