<table class="table table-striped" id="classAnnouncementsTable" data-datatableurl="@Url.Action("GetClassAnnouncementsDataTable","Announcement")">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date Posted</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot></tfoot>
</table>
