

<table class="table table-striped" id="classAssignmentTable" data-datatableurl="@Url.Action("GetClassAssignmentsDataTable","Assignment")">
    <thead>
        <tr>
            <th>Assignment Name</th>
            <th>Assignment Type</th>
            <th>Start Date</th>
            <th>Due Date</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot></tfoot>
</table>
