
<table class="table table-striped" id="classAssignmentTypeTable" data-datatableurl="@Url.Action("GetClassAssignmentTypesDataTable","AssignmentType")">
    <thead>
        <tr>
            <th>Assignment Type</th>
            <th>Percentage</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot></tfoot>
</table>