@model List<HomeRoom.ClassEnrollment.Dtos.ParentStudentClassesDto>

<table class="table table-striped" id="parentStudentClasses">
    <thead>
        <tr>
            <th>Class</th>
            <th>Teacher</th>
            <th>Current Grade</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td><a href="@Url.Action("ParentClass","Class", new {classId = item.Id, studentId = item.StudentId})">@item.ClassName</a></td>
            <td>@item.Teacher</td>
            <td>@item.Grade</td>
        </tr>
    }
    </tbody>
    <tfoot></tfoot>
</table>
