@model List<HomeRoom.ClassEnrollment.Dtos.ParentStudentClassesDto>

<table class="table table-striped" id="parentStudentClasses">
    <thead>
        <tr>
            <th>Class</th>
            <th>Teacher</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ClassName</td>
            <td>@item.Teacher</td>
        </tr>
    }
    </tbody>
    <tfoot></tfoot>
</table>
