<table class="table table-striped" id="parentStudentsTable" data-datatableurl="@Url.Action("GetDataTable","Parent")">
    <thead>
        <tr>
            <th>Student Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot></tfoot>
</table>
