<table class="table table-striped" id="questionsTable" data-datatableurl="@Url.Action("GetDataTable","Category")">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Question Type</th>
            <th>Is Public</th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot></tfoot>
</table>
