
<table class="table table-striped" id="classEnrollmentTable" data-datatableurl="@Url.Action("GetEnrollmentDataTable","Class")">
    <thead>
        <tr>
            <th>Student Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot></tfoot>
</table>

