
<table class="table table-striped" id="studentClassesTable" data-datatableurl="@Url.Action("GetDataTable","Student")">
    <thead>
        <tr>
            <th>Class</th>
            <th>Subject</th>
            <th>Teacher</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot></tfoot>
</table>
