
<table class="table table-striped" id="subjectsTable" data-datatableurl="@Url.Action("GetDataTable","Subject")">
    <thead>
        <tr>
            <th>Subject</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot></tfoot>
</table>

