
<table class="table table-striped" id="usersTable" data-datatableurl="@Url.Action("GetDataTable","Users")">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Address</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody></tbody>
    <tfoot></tfoot>
</table>